<a href="index.html"> <header style="text-align: center">
    <img src="banner-dark.webp" alt="Banner Image" width="45%" height="auto">
</header></a>
<div id="common-snippet" >
    <ul style="background-color: #cccccc">
        {%if 'index' in filename%}
        <li><a class="active" href="index.html" style="color:white;">All</a></li>
        {%else%}
        <li><a href="index.html">Home</a></li>
        {%endif%}
        <li><select class="select-wrapper" id="previousGameweeks" onchange="redirectToGameweek()">
            <option value="" disabled selected>All weeks</option>
            {% for week in weeks %}
                <option value="{{week[0]}}">{{week[1]}}</option>
            {% endfor %}
        </select></li>
        <li style="max-height:75px;"><a  class="paypal" href="https://www.paypal.com/donate/?hosted_button_id=97FSH2FUWA4VE" > <img style="margin-top: -25px;" src="donate_heart.webp" alt="Donation button for AI Goalie football webpage through  paypal" width="150" height="150"> </a></li>
        <li> <a class="contact" href="contact.html"> Contact <br>&#9993;</br> </a> </li>
    </ul>
</div>


<style>

.text-bubble {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px; /* Adjust width as needed */
       /* Add some basic styling for the table */
            border-collapse: collapse;
            table-layout: fixed;
            margin: 0 auto; /* Add this line to center the table horizontally */

}

</style>